<!-- Default & empty version of file that contains path to transpiled javascript -->
<!-- This file (without .example extension) is replaced/created by javascript transpilation output -->
<head>
<body>
</body>
